html {
    min-width: 320px;
    font-size: 65.2%;
}

*,
*:after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: #dde1e7;
    
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}


.gridGlobalStyles {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.boxshadow{
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #5e687949;
}